@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  --color-gray: #f1f5f9;
  --color-gray-dark: #cbd5e1;
  --color-blue-light: #dbeafe;
  --color-blue-dark: #3b82f6;
  --color-blue-dark-2: #1d4ed8;
  --color-blue-darker: #2563eb;
  --color-pink: #f0abfc;
  --color-slate-100:#f1f5f9;
  --shadow:0 1px 3px 0 rgb(0 0 0 / 0.1),0 1px 2px -1px rgb(0 0 0 / 0.1)
}
body {
  font-family: "Montserrat";
}

.btn {
  /* background-color: white; */
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 3px 8px;
  transition: background-color 0.2s color 0.2s;
}

.text-center {
  text-align: center;
  margin-bottom: 10px;
}

.w-full {
  width: 100%;
}

.font-bold {
  font-weight: bold;
}

.text-sm {
  font-size: 0.9rem;
}

.container {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.container-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1.2rem;
  background-color: var(--color-blue-light);
}

.action__btn {
  transition: color 0.2s;
  color: var(--color-blue-dark);
}

.action__btn:hover {
  color: var(--color-blue-dark-2);
}

.playing {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: center;
  color: var(--color-blue-darker);
}

.container-shuffle {
  padding-right: 1.2rem;
  margin-top: 0.4rem;
  display: flex;
  justify-content: flex-end;
}

.btn-shuffle {
  font-weight: bold;
  transition: color 0.2s;
  color: var(--color-blue-dark);
}

.btn-shuffle:hover {
  color: var(--color-blue-darker);
}

.container-song {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #cecece;
  padding-bottom: 1rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.song__btn {
  margin-right: 1rem;
}

.song__btn:hover {
  background-color: var(--color-gray);
}

@media only screen and (min-width: 600px) {
  html{
    background: var(--color-slate-100);
  }
  body {
    width: 25rem;
    margin: 0 auto;
    box-shadow:var(--shadow) ;
    background: white;
    height: 100vh;
  }
}